<footer>
    <div class="footerContent">
        {foreach $tipData as $v}
                <ul>
                    <li>{$v["tname"]}</li>

                    {if isset($v["child"])}
                    {foreach $v["child"] as $v1}
                    <li>
                            {$v1["tname"]}
                    </li>
                    {/foreach}
                </ul>
                {/if}

                {/foreach}
        
        <!--<ul>-->
            <!--<li>了解及选购</li>-->
            <!--<li>全功能系列</li>-->
            <!--<li>多功能系列</li>-->
            <!--<li>直通式系列</li>-->
            <!--<li>水封比系列</li>-->
            <!--<li>横排式系列</li>-->
        <!--</ul>-->
        <!--<ul>-->
            <!--<li>配送指南</li>-->
            <!--<li>配送范围</li>-->
            <!--<li>配送指南</li>-->
            <!--<li>配送费收取标准</li>-->
        <!--</ul>-->
        <!--<ul>-->
            <!--<li>售后服务</li>-->
            <!--<li>意见反馈</li>-->
            <!--<li>价格保护</li>-->
            <!--<li>售后政策</li>-->
        <!--</ul>-->
        <!--<ul>-->
            <!--<li>购物保障</li>-->
            <!--<li>正品保证</li>-->
            <!--<li>公司资质</li>-->
            <!--<li>注册协议</li>-->
        <!--</ul>-->
        <!--<ul>-->
            <!--<li>关于金德尔</li>-->
            <!--<li>品牌合伙人</li>-->
            <!--<li>关于我们</li>-->
            <!--<li>联系我们</li>-->
            <!--<li>人才招聘</li>-->
            <!--<li>视频展示</li>-->
        <!--</ul>-->
    </div>
    <div class="copyright">Copyright © 2019 太原金德尔洁具设备有限司  保留所有权利    地址：山西综改示范区太原学府园区发展路88号1幢华顿公司众创空间 备案号：晋ICP备15005152号</div>
    <div class="police">
        <p>晋公网安备14010702070324号</p>
        <img src="{IMG_ADD}20200109154714_94992.png">
    </div>
</footer>