<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>太原金德尔洁具设备有限公司</title>
</head>
<link rel="stylesheet" href="{CSS_ADD}index/common.css">
<body>
    <!--  头部nav栏目开始  -->
    {include file=$header}    <!--  头部nav栏目结束  -->

    <!--  轮播图部分开始  -->
    <div class="banner">
<!--        <div class="left">←</div>-->
<!--        <div class="right">→</div>-->
        <div class="slideShow">
            <div class="banners">
                <div class="productTitle">全功能星河圆形地漏</div>
                <div class="productDes">
                    <p>外表简约，内心强大</p>
                    <p>卫生间关键时刻站出来的英雄</p>
                </div>
                <div class="productAct">
                    <a href="pages/detailContent.html">进一步了解</a> <a href="pages/parameter.html">查看参数</a> <a
                        href="pages/buy.html">购买</a>
                </div>
                <div class="productImg"><img src="{IMG_ADD}index_02-49.jpg" alt=""></div>
            </div>
            <div class="banners">
                <div class="productTitle">全功能星河圆形地漏</div>
                <div class="productDes">
                    <p>外表简约，内心强大</p>
                    <p>卫生间关键时刻站出来的英雄</p>
                </div>
                <div class="productAct">
                    <a href="pages/detailContent.html">进一步了解</a> <a href="pages/parameter.html">查看参数</a> <a
                        href="pages/buy.html">购买</a>
                </div>
                <div class="productImg"><img src="{IMG_ADD}index_02-49.jpg" alt=""></div>
            </div>
            <div class="banners">
                <div class="productTitle">全功能星河圆形地漏</div>
                <div class="productDes">
                    <p>外表简约，内心强大</p>
                    <p>卫生间关键时刻站出来的英雄</p>
                </div>
                <div class="productAct">
                    <a href="pages/detailContent.html">进一步了解</a> <a href="pages/parameter.html">查看参数</a> <a
                        href="pages/buy.html">购买</a>
                </div>
                <div class="productImg"><img src="{IMG_ADD}index_02-49.jpg" alt=""></div>
            </div>
            <div class="banners">
                <div class="productTitle">全功能星河圆形地漏</div>
                <div class="productDes">
                    <p>外表简约，内心强大</p>
                    <p>卫生间关键时刻站出来的英雄</p>
                </div>
                <div class="productAct">
                    <a href="pages/detailContent.html">进一步了解</a> <a href="pages/parameter.html">查看参数</a> <a
                        href="pages/buy.html">购买</a>
                </div>
                <div class="productImg"><img src="{IMG_ADD}index_02-49.jpg" alt=""></div>
            </div>
        </div>
        <div class="bannerBar">
        </div>
    </div>
    <!--  轮播图部分结束  -->

    <!--  底部图片展开始  -->
    <div class="imgShow">
        <div class="show">
            <a href="pages/detailContent.html"></a>
        </div>
        <div>
            <a href="pages/detailContent.html"></a>
        </div>
        <div style="background: url({IMG_ADD}index_02-49.jpg) no-repeat center;">
            <a href="pages/detailContent.html"></a>
        </div>
        <div>
            <div class="smallShow">
                <img class="showImg" src="{IMG_ADD}index_07.jpg">
                <p>迅速排水</p>
            </div>
            <div class="smallShow">
                <img class="showImg" src="{IMG_ADD}index_07-54.jpg">
                <p>迅速排水</p>
            </div>
            <div class="smallShow">
                <img class="showImg" src="{IMG_ADD}index_07-59.jpg">
                <p>迅速排水</p>
            </div>
            <div class="smallShow">
                <img class="showImg" src="{IMG_ADD}index_07-62.jpg">
                <p>迅速排水</p>
            </div>
        </div>
    </div>
    <!--  底部图片展结束  -->

    <div class="footerTip">
        <span>了解金德尔</span>
        <span>全球销售</span>
        <span>没有中间商</span>
        <span>七天无理由退换货</span>
        <span>电子工艺的品质</span>
    </div>

    <!--  底部部分开始  -->
    {include file=$footer}
    <!--  底部部分结束  -->
</body>
<script src="{JS_ADD}index.js"></script>
<script src="{JS_ADD}common.js"></script>
</html>